<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnlineShop</title>
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <div id="app">
        <header class="header">
            <div class="header__wrapper container">
                <form action="#" class="search">
                    <search v-model="searchLine"></search>
                    <button class="search__button" v-on:click="filterGoods()">Искать</button>
                </form>
                <button class="cart__button" type="button">Корзина</button>
            </div>
        </header>

        <main>
            <h1 class="catalog__heading">Каталог</h1>
            <goods-list :goods="filteredGoods"></goods-list>
            
            <div class="nogoods container" v-if="filteredGoods.length == 0">
                <h3 class="nogoods__heading">По вашему запросу ничего не найдено</h3>
            </div>

            <h3 class="cart__heading">Корзина</h3>
            <cart-list :goods="cartGoods"></cart-list>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="shop_copy.js"></script>
</body>

</html>